body {
    background-color: #333333;
    color: #E0E0E2;
    font-family: Arial, sans-serif;
}

h1,
h2 {
    color: #721817;
}

.center-text {
    text-align: center;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 300px;
    width: 100%;
    height: auto;
}

h2 span {
    color: #FA9F42;
    font-size: 0.75em;
}

#copyright {
    padding: 12px;
    font-size: 0.75em;
}